@model SimplCommerce.Module.Orders.ViewModels.DeliveryInformationVm

@{
    ViewBag.Title = "Shipping Information";
}

<div class="row">
    <div class="col-md-8">
        <form asp-controller="Checkout" asp-action="Shipping" method="POST" id="checkout-delivery-address" class="form-horizontal">
            <h3>Passanger Registration Info</h3>
            <div class="row">
                <div class="col-sm-2">First Name </div>
                <div class="col-sm-2">Last Name</div>
                <div class="col-sm-2">Document no.:</div>
                <div class="col-sm-2">Expiration</div>
                <div class="col-sm-2">Bith Date</div>
                <div class="col-sm-2">Sex</div>
            </div>
            @foreach(var address in Model.ExistingShippingAddresses)
            {
                <div class="row">
                    <div class="col-sm-2">
                        <input type="hidden" asp-for="ExistingShippingAddresses[Model.ExistingShippingAddresses.IndexOf(address)].UserAddressId">
                        <input type="checkbox" asp-for="ExistingShippingAddresses[Model.ExistingShippingAddresses.IndexOf(address)].Selected">
                        @address.ContactName
                    </div>
                    <div class="col-sm-2">@address.AddressLine1</div>
                    <div class="col-sm-2">@address.AddressLine2</div>
                    <div class="col-sm-2">@address.CityName</div>
                    <div class="col-sm-2">@address.PostalCode</div>
                    <div class="col-sm-2">@address.Phone</div>
               </div>
            }
            <div class="radio">
                <label>
                    <input type="radio" name="shippingAddressId" checked="@(Model.ShippingAddressId == 0 ? "checked" : null)" value="0" />
                    @Localizer["Add another address"]
                </label>
            </div>

            <div class="create-shipping-address collapse">
                <div class="col-lg-2 col-md-4">
                    <div class="form-group">
                        <label>Sex:</label>
                        <div>
                            <label class="radio-inline" style="font-size:16px;">
                                <input type="radio" name="sex" value="Male" ng-model="passenger.sex">Male
                            </label>
                            <label class="radio-inline" style="font-size:16px;">
                                <input type="radio" name="Female" ng-model="passenger.sex">Female
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4">
                    <div class="form-group">
                        <label for="firstName">First name:</label>
                        <input asp-for="NewAddressForm.ContactName" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-lg-2 col-md-4">
                    <div class="form-group">
                        <label for="lastName">Last name:</label>
                        <input asp-for="NewAddressForm.AddressLine1" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-lg-2 col-md-4">
                    <div class="form-group">
                        <label for="birth">Date of birth:</label>
                        <input asp-for="NewAddressForm.City" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-lg-2 col-md-4">
                    <div class="form-group">
                        <label for="document">Document no.:</label>
                        <input asp-for="NewAddressForm.PostalCode" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-lg-2 col-md-4">
                    <div class="form-group">
                        <label for="expiry">Date of expiry:</label>
                        <input asp-for="NewAddressForm.Phone" type="text" class="form-control">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">@Localizer["Country"]</label>
                    <div class="col-sm-8">
                        <select asp-for="NewAddressForm.CountryId" asp-items="Model.NewAddressForm.ShipableContries" class="form-control">
                            <option value="">@Localizer["Choose one"]</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">@Localizer["State or Province"]</label>
                    <div class="col-sm-8">
                        <select asp-for="NewAddressForm.StateOrProvinceId" asp-items="Model.NewAddressForm.StateOrProvinces" class="form-control">
                            <option value="">@Localizer["Choose one"]</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">@Localizer["District"]</label>
                    <div class="col-sm-8">
                        <select asp-for="NewAddressForm.DistrictId" asp-items="Model.NewAddressForm.Districts" class="form-control">
                            <option value=""></option>
                        </select>
                    </div>
                </div>
            </div>
            <h3>@Localizer["Shipping methods"]</h3>
            <div id="shippingMethods">
                <p>Please choose your shipping address</p>
            </div>
            <div class="form-group">
                <div class="col-md-12 text-right">
                    <button type="submit" class="btn btn-order" disabled>@Localizer["Continue"]</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-4">
        @await Component.InvokeAsync("OrderSummary")
    </div>
</div>

@section scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script simpl-append-version="true" src="~/modules/orders/checkout.js"></script>
}