@using SimplCommerce.Module.Core.ViewModels

@model SimplCommerce.Module.Orders.ViewModels.DeliveryInformationVm

@{
    ViewBag.Title = "Passenger Information";
}

<div class="row">
    <div class="col-md-8">
        <form asp-controller="Checkout" asp-action="Shipping" method="POST" id="checkout-delivery-address" class="form-horizontal">
            <h3>Passenger Registration Info</h3>
            <br />
            <div class="row" style="border-bottom: 1px solid #eee;" >
                <div class="col-sm-2"><strong>First Name</strong></div>
                <div class="col-sm-2"><strong>Last Name</strong></div>
                <div class="col-sm-2"><strong>Bith Date</strong></div>
                <div class="col-sm-2"><strong>Document No.</strong></div>
                <div class="col-sm-2"><strong>Expiration</strong></div>
                <div class="col-sm-2"><strong>Sex</strong></div>
            </div>
            <div class="address-container">
                @foreach (var address in Model.ExistingShippingAddresses)
                {
                    var isChecked = Model.ExistingShippingAddresses.First() == address;
                    
                    <div class="row" style="border-bottom: 1px solid #eee; padding:5px">
                        <div class="col-sm-2">
                            <input type="hidden" asp-for="ExistingShippingAddresses[Model.ExistingShippingAddresses.IndexOf(address)].UserAddressId">
                            <input type="checkbox" checked="@isChecked" asp-for="ExistingShippingAddresses[Model.ExistingShippingAddresses.IndexOf(address)].Selected">
                            @address.ContactName
                        </div>
                        <div class="col-sm-2">@address.AddressLine1</div>
                        <div class="col-sm-2">@address.AddressLine2</div>
                        <div class="col-sm-2">@address.CityName</div>
                        <div class="col-sm-2">@address.PostalCode</div>
                        <div class="col-sm-2">@address.Phone</div>
                    </div>
                }
            </div>
            <br />
            <div class="form-group">
                <div class="col-md-12 text-right">
                    <button type="submit" class="btn btn-order" disabled>@Localizer["Continue"]</button>
                </div>
            </div>
        </form>
        <div class="radio">
            <strong>
                Add Passenger
            </strong>
        </div>
        <div class="create-shipping-address">
            <form action="add-address" method="POST" class="add-address-form form-horizontal">
                <div class="col-lg-2 col-md-4">
                    <div class="form-group">
                        <input type="text" placeholder="First Name" class="form-control" id="firstName" name="firstName" >
                    </div>
                </div>
                <div class="col-lg-2 col-md-4">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Last Name" id="lastName" name="lastName" >
                    </div>
                </div>
                <div class="col-lg-2 col-md-4">
                    <div class="form-group">
                        <input type="date" class="form-control" id="birth" name="birthDate" >
                    </div>
                </div>
                <div class="col-lg-2 col-md-4">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Document No." id="document" name="documentNumber" >
                    </div>
                </div>
                <div class="col-lg-2 col-md-4">
                    <div class="form-group">
                        <input type="date" class="form-control" placeholder="Document Exp." id="expiry" name="documentExpiration" >
                    </div>
                </div>
                <div class="col-lg-2 col-md-4">
                    <div class="form-group">
                        <div>
                            <label class="radio-inline" style="font-size:16px;">
                                <input type="radio" name="sex" value="Male">Male
                            </label>
                            <label class="radio-inline" style="font-size:16px;">
                                <input type="radio" name="sex" value="Female">Female
                            </label>
                        </div>
                    </div>
                </div>
                <button style="float:right" type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span></button>
            </form>    
        </div>
    </div>
    <div class="col-md-4">
        @await Component.InvokeAsync("OrderSummary")
    </div>

</div>
<br />
@section scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script simpl-append-version="true" src="~/modules/orders/checkout.js"></script>
}