@using SimplCommerce.Infrastructure.Data
@using SimplCommerce.Module.Core.Models
@using System.Globalization

@model SimplCommerce.Module.Orders.Models.Order
@inject IRepository<StateOrProvince> StateOrProvinceRepository
@inject IRepository<District> DistrictRepository

@{
    var shippingStateOrProvince = StateOrProvinceRepository.Query().First(x => x.Id == Model.ShippingAddress.StateOrProvinceId);
    string shippingDistrictName = "";
    if (Model.ShippingAddress.DistrictId.HasValue)
    {
        var district = DistrictRepository.Query().FirstOrDefault(x => x.Id == Model.ShippingAddress.DistrictId.Value);
        shippingDistrictName = $"{district.Name}, ";
    }

    var ci = new CultureInfo("en-US");
    var flight = Model.OrderItems[0].Product;
}

@{
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" style="background:#f3f3f3!important">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style>
    @@media only screen {
        html {
            min-height: 100%;
            background: #f3f3f3
        }
    }

    @@media only screen and (max-width: 796px) {
        .small-float-center {
            margin: 0 auto !important;
            float: none !important;
            text-align: center !important
        }
    }

    @@media only screen and (max-width: 796px) {
        table.body img {
            width: auto;
            height: auto
        }

        table.body center {
            min-width: 0 !important
        }

        table.body .container {
            width: 95% !important
        }

        table.body .columns {
            height: auto !important;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            padding-left: 16px !important;
            padding-right: 16px !important
        }

        table.body .columns .columns {
            padding-left: 0 !important;
            padding-right: 0 !important
        }

        table.body .collapse .columns {
            padding-left: 0 !important;
            padding-right: 0 !important
        }

        th.small-6 {
            display: inline-block !important;
            width: 50% !important
        }

        th.small-12 {
            display: inline-block !important;
            width: 100% !important
        }

        .columns th.small-12 {
            display: block !important;
            width: 100% !important
        }

        table.menu {
            width: 100% !important
        }

        table.menu td, table.menu th {
            width: auto !important;
            display: inline-block !important
        }

        table.menu.vertical td, table.menu.vertical th {
            display: block !important
        }

        table.menu[align=center] {
            width: auto !important
        }
    }</style>
</head>
<body style="-moz-box-sizing:border-box;-ms-text-size-adjust:100%;-webkit-box-sizing:border-box;-webkit-text-size-adjust:100%;Margin:0;background:#f3f3f3!important;box-sizing:border-box;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:11px;font-weight:400;line-height:1.3;margin:0;min-width:100%;padding:0;text-align:left;width:100%!important">
    <span class="preheader"
          style="color:#f3f3f3;display:none!important;font-size:1px;line-height:1px;max-height:0;max-width:0;mso-hide:all!important;opacity:0;overflow:hidden;visibility:hidden"></span>
    <table class="body"
           style="Margin:0;background:#f3f3f3!important;border-collapse:collapse;border-spacing:0;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:11px;font-weight:400;height:100%;line-height:1.3;margin:0;padding:0;text-align:left;vertical-align:top;width:100%">
        <tr style="padding:0;text-align:left;vertical-align:top">
            <td class="center" align="center" valign="top"
                style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:11px;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                <center data-parsed="" style="min-width:780px;width:100%">
                    <table align="center" class="container ticket float-center"
                           style="Margin:0 auto;background:#fefefe;border-collapse:collapse;border-spacing:0;float:none;font-size:11px;margin:0 auto;padding:0;text-align:center;vertical-align:top;width:780px">
                        <tbody>
                            <tr style="padding:0;text-align:left;vertical-align:top">
                                <td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:11px;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                                    <table class="spacer"
                                           style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                        <tbody>
                                            <tr style="padding:0;text-align:left;vertical-align:top">
                                                <td height="16px"
                                                    style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;hyphens:auto;line-height:16px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                                                    &#xA0;
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table class="row"
                                           style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
                                        <tbody>
                                            <tr style="padding:0;text-align:left;vertical-align:top">
                                                <th class="small-12 large-8 columns first"
                                                    style="Margin:0 auto;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:11px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:16px;padding-left:16px;padding-right:8px;text-align:left;width:504px">
                                                    <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                                        <tr style="padding:0;text-align:left;vertical-align:top">
                                                            <th style="Margin:0;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:11px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left"></th>
                                                        </tr>
                                                    </table>
                                                </th>
                                                <th class="text-right small-12 large-4 columns last"
                                                    style="Margin:0 auto;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:11px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:16px;padding-left:8px;padding-right:16px;text-align:right;width:244px">
                                                    <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                                        <tr style="padding:0;text-align:left;vertical-align:top">
                                                            <th style="Margin:0;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:11px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left">
                                                                <h6 style="Margin:0;Margin-bottom:10px;color:inherit;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:1.3;margin:0;margin-bottom:10px;padding:0;text-align:left;word-wrap:normal">
                                                                    @DateTime.Now.Date.ToString("dMMMyyyy", ci).ToUpper()
                                                                </h6><h6 style="Margin:0;Margin-bottom:10px;color:inherit;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:1.3;margin:0;margin-bottom:10px;padding:0;text-align:left;word-wrap:normal">
                                                                    @flight.Departure.Split(',')[0], @flight.Departure.Split(',')[2]
                                                                </h6>
                                                            </th>
                                                        </tr>
                                                    </table>
                                                </th>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table class="row"
                                           style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
                                        <tbody>
                                            <tr style="padding:0;text-align:left;vertical-align:top">
                                                <th class="small-12 large-12 columns first last"
                                                    style="Margin:0 auto;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:11px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:16px;padding-left:16px;padding-right:16px;text-align:left;width:764px">
                                                    <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                                        <tr style="padding:0;text-align:left;vertical-align:top">
                                                            <th style="Margin:0;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:11px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left">
                                                                <p class="text-center"
                                                                   style="Margin:0;Margin-bottom:10px;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:11px;font-weight:400;line-height:1.3;margin:0;margin-bottom:10px;padding:0;text-align:center">
                                                                    <b>
                                                                        Чартеpний пасажирський квиток та багажна квитанція/ Charter
                                                                        passenger ticket and baggage check
                                                                    </b>
                                                                </p>
                                                                <table class="spacer"
                                                                       style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                                                    <tbody>
                                                                        <tr style="padding:0;text-align:left;vertical-align:top">
                                                                            <td height="8px"
                                                                                style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:8px;font-weight:400;hyphens:auto;line-height:8px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                                                                                &#xA0;
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                                <table style="border:1px solid #000;border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                                                    <tr style="padding:0;text-align:left;vertical-align:top">
                                                                        <td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;border-right:1px solid #000;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:11px;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:0;text-align:left;vertical-align:top;width:50%;word-wrap:break-word">
                                                                            <ul>
                                                                                <li>Valid only including tour arrangements</li>
                                                                                <li>
                                                                                    Valid only for charter flights for which
                                                                                    issued
                                                                                </li>
                                                                                <li>Non endorsable</li>
                                                                                <li>Non refundable</li>
                                                                                <li>Non transferable</li>
                                                                            </ul>
                                                                        </td>
                                                                        <td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:11px;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:0;text-align:left;vertical-align:top;width:50%;word-wrap:break-word">
                                                                            <ul>
                                                                                <li>Дійсний тільки з турпакетом</li>
                                                                                <li>
                                                                                    Дійсний тільки для чартерного рейсу, вказаному в
                                                                                    квитку
                                                                                </li>
                                                                                <li>Без права передачі іншому перевізнику</li>
                                                                                <li>Поверненню не підлягає</li>
                                                                                <li>Без права передачі іншій особі</li>
                                                                            </ul>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                                <table class="spacer"
                                                                       style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                                                    <tbody>
                                                                        <tr style="padding:0;text-align:left;vertical-align:top">
                                                                            <td height="8px"
                                                                                style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:8px;font-weight:400;hyphens:auto;line-height:8px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                                                                                &#xA0;
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </th>
                                                            <th class="expander"
                                                                style="Margin:0;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:11px;font-weight:400;line-height:1.3;margin:0;padding:0!important;text-align:left;visibility:hidden;width:0"></th>
                                                        </tr>
                                                    </table>
                                                </th>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table class="row"
                                           style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
                                        <tbody>
                                            <tr style="padding:0;text-align:left;vertical-align:top">
                                                <th class="small-12 large-12 columns first last"
                                                    style="Margin:0 auto;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:11px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:16px;padding-left:16px;padding-right:16px;text-align:left;width:764px">
                                                    <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                                        <tr style="padding:0;text-align:left;vertical-align:top">
                                                            <th style="Margin:0;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:11px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left">
                                                                <table class="ticket__table"
                                                                       style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                                                    <thead style="background-color:#e2e2e2">
                                                                        <tr style="padding:0;text-align:left;vertical-align:top">
                                                                            <th style="Margin:0;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:11px;font-weight:700;line-height:1.3;margin:0;padding:2px;text-align:center">
                                                                                Вiд/до<br />From/To
                                                                            </th>
                                                                            <th style="Margin:0;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:11px;font-weight:700;line-height:1.3;margin:0;padding:2px;text-align:center">
                                                                                Рейс №<br />Flight#
                                                                            </th>
                                                                            <th style="Margin:0;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:11px;font-weight:700;line-height:1.3;margin:0;padding:2px;text-align:center">
                                                                                Клас<br />Class
                                                                            </th>
                                                                            <th style="Margin:0;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:11px;font-weight:700;line-height:1.3;margin:0;padding:2px;text-align:center">
                                                                                Дата<br />Date
                                                                            </th>
                                                                            <th colspan="2"
                                                                                style="Margin:0;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:11px;font-weight:700;line-height:1.3;margin:0;padding:2px;text-align:center">
                                                                                Час вильоту<br />Time
                                                                            </th>
                                                                            <th colspan="2"
                                                                                style="Margin:0;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:11px;font-weight:700;line-height:1.3;margin:0;padding:2px;text-align:center">
                                                                                Статус<br />Status
                                                                            </th>
                                                                            <th style="Margin:0;border:1px solid #000;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:11px;font-weight:700;line-height:1.3;margin:0;padding:2px;text-align:center">
                                                                                Норма багажу<br />Baggage allow
                                                                            </th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr style="padding:0;text-align:left;vertical-align:top">
                                                                            <td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-bottom:1px solid #000;border-collapse:collapse!important;border-left:1px solid #000;border-right:1px solid #000;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:11px;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:2px;text-align:left;vertical-align:top;word-wrap:break-word">
                                                                                @flight.Departure
                                                                            </td>
                                                                            <td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-bottom:1px solid #000;border-collapse:collapse!important;border-right:1px solid #000;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:11px;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:2px;text-align:left;vertical-align:top;word-wrap:break-word">
                                                                                @flight.FlightNumber
                                                                            </td>
                                                                            <td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-bottom:1px solid #000;border-collapse:collapse!important;border-right:1px solid #000;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:11px;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:2px;text-align:left;vertical-align:top;word-wrap:break-word">
                                                                                @flight.FlightClass
                                                                            </td>
                                                                            <td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-bottom:1px solid #000;border-collapse:collapse!important;border-right:1px solid #000;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:11px;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:2px;text-align:left;vertical-align:top;word-wrap:break-word">
                                                                                @flight.DepartureDate.Value.Date.ToString("dMMMyyyy", ci).ToUpper()
                                                                            </td>
                                                                            <td colspan="2"
                                                                                style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-bottom:1px solid #000;border-collapse:collapse!important;border-right:1px solid #000;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:11px;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:2px;text-align:left;vertical-align:top;word-wrap:break-word">
                                                                                @flight.DepartureDate.Value.ToString("HH:mm", ci)
                                                                            </td>
                                                                            <td colspan="2"
                                                                                style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-bottom:1px solid #000;border-collapse:collapse!important;border-right:1px solid #000;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:11px;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:2px;text-align:left;vertical-align:top;word-wrap:break-word">
                                                                                OK
                                                                            </td>
                                                                            <td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-bottom:1px solid #000;border-collapse:collapse!important;border-right:1px solid #000;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:11px;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:2px;text-align:left;vertical-align:top;word-wrap:break-word">
                                                                                1pc/23kg/158cm
                                                                            </td>
                                                                        </tr>
                                                                        <tr style="padding:0;text-align:left;vertical-align:top">
                                                                            <td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-bottom:1px solid #000;border-collapse:collapse!important;border-left:1px solid #000;border-right:1px solid #000;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:11px;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:2px;text-align:left;vertical-align:top;word-wrap:break-word">
                                                                                @flight.Destination
                                                                            </td>
                                                                            <td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-bottom:1px solid #000;border-collapse:collapse!important;border-right:1px solid #000;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:11px;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:2px;text-align:left;vertical-align:top;word-wrap:break-word">
                                                                                VOID
                                                                            </td>
                                                                            <td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-bottom:1px solid #000;border-collapse:collapse!important;border-right:1px solid #000;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:11px;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:2px;text-align:left;vertical-align:top;word-wrap:break-word"></td>
                                                                            <td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-bottom:1px solid #000;border-collapse:collapse!important;border-right:1px solid #000;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:11px;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:2px;text-align:left;vertical-align:top;word-wrap:break-word">
                                                                                VOID
                                                                            </td>
                                                                            <td colspan="2"
                                                                                style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-bottom:1px solid #000;border-collapse:collapse!important;border-right:1px solid #000;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:11px;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:2px;text-align:left;vertical-align:top;word-wrap:break-word">
                                                                                VOID
                                                                            </td>
                                                                            <td colspan="2"
                                                                                style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-bottom:1px solid #000;border-collapse:collapse!important;border-right:1px solid #000;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:11px;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:2px;text-align:left;vertical-align:top;word-wrap:break-word">
                                                                                VOID
                                                                            </td>
                                                                            <td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-bottom:1px solid #000;border-collapse:collapse!important;border-right:1px solid #000;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:11px;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:2px;text-align:left;vertical-align:top;word-wrap:break-word"></td>
                                                                        </tr>
                                                                        <tr style="padding:0;text-align:left;vertical-align:top">
                                                                            <td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-bottom:1px solid #000;border-collapse:collapse!important;border-left:1px solid #000;border-right:1px solid #000;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:11px;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:2px;text-align:left;vertical-align:top;word-wrap:break-word">
                                                                                VOID
                                                                            </td>
                                                                            <td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-bottom:1px solid #000;border-collapse:collapse!important;border-right:1px solid #000;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:11px;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:2px;text-align:left;vertical-align:top;word-wrap:break-word">
                                                                                VOID
                                                                            </td>
                                                                            <td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-bottom:1px solid #000;border-collapse:collapse!important;border-right:1px solid #000;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:11px;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:2px;text-align:left;vertical-align:top;word-wrap:break-word">
                                                                                VOID
                                                                            </td>
                                                                            <td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-bottom:1px solid #000;border-collapse:collapse!important;border-right:1px solid #000;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:11px;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:2px;text-align:left;vertical-align:top;word-wrap:break-word">
                                                                                VOID
                                                                            </td>
                                                                            <td colspan="2"
                                                                                style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-bottom:1px solid #000;border-collapse:collapse!important;border-right:1px solid #000;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:11px;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:2px;text-align:left;vertical-align:top;word-wrap:break-word">
                                                                                VOID
                                                                            </td>
                                                                            <td colspan="2"
                                                                                style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-bottom:1px solid #000;border-collapse:collapse!important;border-right:1px solid #000;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:11px;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:2px;text-align:left;vertical-align:top;word-wrap:break-word">
                                                                                VOID
                                                                            </td>
                                                                            <td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-bottom:1px solid #000;border-collapse:collapse!important;border-right:1px solid #000;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:11px;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:2px;text-align:left;vertical-align:top;word-wrap:break-word">
                                                                                VOID
                                                                            </td>
                                                                        </tr>
                                                                        <tr style="padding:0;text-align:left;vertical-align:top">
                                                                            <td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-bottom:none;border-collapse:collapse!important;border-left:none;border-right:none;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:11px;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:2px;text-align:left;vertical-align:top;word-wrap:break-word">
                                                                                <br /><b>ARSLAN/BAHANGIR MR</b>
                                                                            </td>
                                                                            <td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-bottom:none;border-collapse:collapse!important;border-right:1px solid #000;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:11px;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:2px;text-align:left;vertical-align:top;word-wrap:break-word"
                                                                                colspan="4">
                                                                                <br />
                                                                                <div class="ticket__line"
                                                                                     style="border-bottom:1px solid #000;margin:14px 8px 0 8px"></div>
                                                                            </td>
                                                                            <td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-bottom:1px solid #000;border-collapse:collapse!important;border-right:1px solid #000;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:11px;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:2px;text-align:left;vertical-align:top;width:25px;word-wrap:break-word">
                                                                                bag.<br />pcs:
                                                                            </td>
                                                                            <td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-bottom:1px solid #000;border-collapse:collapse!important;border-right:1px solid #000;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:11px;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:2px;text-align:left;vertical-align:top;word-wrap:break-word">
                                                                                bag.<br />Weight
                                                                            </td>
                                                                            <td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-bottom:1px solid #000;border-collapse:collapse!important;border-right:1px solid #000;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:11px;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:2px;text-align:left;vertical-align:top;word-wrap:break-word">
                                                                                Exx.<br />Ess.
                                                                            </td>
                                                                            <td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-bottom:1px solid #000;border-collapse:collapse!important;border-right:1px solid #000;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:11px;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:2px;text-align:left;vertical-align:top;word-wrap:break-word">
                                                                                bag<br />paid
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </th>
                                                            <th class="expander"
                                                                style="Margin:0;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:11px;font-weight:400;line-height:1.3;margin:0;padding:0!important;text-align:left;visibility:hidden;width:0"></th>
                                                        </tr>
                                                    </table>
                                                </th>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table class="spacer"
                                           style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                        <tbody>
                                            <tr style="padding:0;text-align:left;vertical-align:top">
                                                <td height="16px"
                                                    style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;hyphens:auto;line-height:16px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                                                    &#xA0;
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table class="row"
                                           style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
                                        <tbody>
                                            <tr style="padding:0;text-align:left;vertical-align:top">
                                                <th class="small-12 large-12 columns first last"
                                                    style="Margin:0 auto;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:11px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:16px;padding-left:16px;padding-right:16px;text-align:left;width:764px">
                                                    <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                                        <tr style="padding:0;text-align:left;vertical-align:top">
                                                            <th style="Margin:0;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:11px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left">
                                                                <p class="text-center"
                                                                   style="Margin:0;Margin-bottom:10px;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:11px;font-weight:400;line-height:1.3;margin:0;margin-bottom:10px;padding:0;text-align:center">
                                                                    <b>
                                                                        ATTENTION! Please check schedule time one day before
                                                                        flight!
                                                                    </b>
                                                                </p>
                                                                <p class="text-center"
                                                                   style="Margin:0;Margin-bottom:10px;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:11px;font-weight:400;line-height:1.3;margin:0;margin-bottom:10px;padding:0;text-align:center">
                                                                    <b>УВАГА! Обов’язково уточнюйте розклад за добу до вильоту!</b>
                                                                </p>
                                                            </th>
                                                            <th class="expander"
                                                                style="Margin:0;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:11px;font-weight:400;line-height:1.3;margin:0;padding:0!important;text-align:left;visibility:hidden;width:0"></th>
                                                        </tr>
                                                    </table>
                                                </th>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table class="spacer"
                                           style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                        <tbody>
                                            <tr style="padding:0;text-align:left;vertical-align:top">
                                                <td height="16px"
                                                    style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;hyphens:auto;line-height:16px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                                                    &#xA0;
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table class="row"
                                           style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
                                        <tbody>
                                            <tr style="padding:0;text-align:left;vertical-align:top">
                                                <th class="small-12 large-12 columns first last"
                                                    style="Margin:0 auto;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:11px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:16px;padding-left:16px;padding-right:16px;text-align:left;width:764px">
                                                    <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                                        <tr style="padding:0;text-align:left;vertical-align:top">
                                                            <th style="Margin:0;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:11px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left">
                                                                <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                                                    <tr style="padding:0;text-align:left;vertical-align:top">
                                                                        <td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:11px;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:0;padding-right:15px;text-align:left;vertical-align:top;width:50%;word-wrap:break-word">
                                                                            <p style="Margin:0;Margin-bottom:10px;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:9px;font-weight:400;line-height:1.3;margin:0;margin-bottom:10px;padding:0;text-align:left">
                                                                                УВАГА: Чартерні повітряні перевезення на міжнародних
                                                                                та внутрішніх рейсах здійснюються на підставі
                                                                                Договору чартеру, за яким туроператор (фрахтувальник
                                                                                - договірний перевізник) фрахтує в авіакомпанії
                                                                                (фрахтівника - фактичного перевізника) повітряне
                                                                                судно на один або кілька рейсів для перевезення
                                                                                пасажирів та багажу. До цих перевезень, може бути
                                                                                застосована: Варшавська Конвенція (Конвенція для
                                                                                уніфікації деяких правил, що стосуються міжнародних
                                                                                повітряних перевезень), підписана 12.10.1929 у
                                                                                Варшаві чи дана Конвенція, змінена главою 1
                                                                                Гаагського Протоколу, підписаним 28.09.1955 в Гаазі;
                                                                                або Монреальська Конвенція (Конвенція про уніфікацію
                                                                                деяких правил міжнародних повітряних перевезень),
                                                                                підписана 28.05.1999 в Монреалі. Можливість та
                                                                                повнота застосування кожного із зазначених правових
                                                                                документів визначається перевізником у залежності
                                                                                від обставин та маршрутів перевезення. ПОВІДОМЛЕННЯ:
                                                                                Пасажир повинен прибути на реєстрацію на чартерний
                                                                                рейс за дві години до запланованої відправки літака.
                                                                                Реєстрація пасажирів закінчується не пізніше, ніж за
                                                                                40 хвилин до зазначеного в квитку часу відправки
                                                                                рейсу. У разі порушення пасажиром часу прибуття на
                                                                                реєстрацію йому може бути відмовлено у перевезенні.
                                                                                Перевірка документів (паспорта, візи, пасажирських
                                                                                квитків, сертифікатів, страховки та ін.) та
                                                                                необхідних коштів для здійснення подорожі
                                                                                виконуються в аеропорту під час реєстрації пасажира.
                                                                                УМОВИ ДОГОВОРУ ПЕРЕВЕЗЕННЯ: 1. Перевезення пасажирів
                                                                                та багажу за цим Договором виконуються згідно з
                                                                                &quot;Умовами договіру чартеру&quot;, &quot;Правилами
                                                                                виконання чартерних рейсів&quot;-2001, &quot;Правилами
                                                                                повітряних перевезень пасажирів і багажу&quot;-2010,
                                                                                &quot;Правилами перевізника&quot;, &quot;Загальними
                                                                                умовами перевезень пасажирів і багажу&quot;- IATA та
                                                                                за нормами, що обмежують відповідальність
                                                                                перевізника за вимогами Варшавської Конвенції-1929
                                                                                або Монреальської Конвенції-1999, у залежності від
                                                                                того, який міжнародний договір підлягає
                                                                                застосуванню. 2. Перевізник зобов’язується вжити
                                                                                всіх залежних від нього заходів, щоб перевезти
                                                                                пасажира i багаж у розумні строки. Час, вказаний в
                                                                                перевізних та інших документах, не гарантується i не
                                                                                є складовою частиною цього Договору. Перевізник може
                                                                                без попередження замінити повітряне судно, змінити
                                                                                чи відмінити посадку в пунктах, зазначених у квитку.
                                                                                Розклад може бути змінено без попередження пасажира.
                                                                                Відповідальність щодо інформування пасажира про
                                                                                зміну розкладу (часу перевезення) покладається на
                                                                                фрахтувальника рейсу. 4. Фрахтувальник несе повну
                                                                                відповідальність щодо інформування та дотримання
                                                                                пасажирами всіх встановлених перевізником та
                                                                                державними органами правил перевезення пасажирів та
                                                                                багажу і перетину пасажирами кордонів держав
                                                                                прямування та транзиту. 5. Перевізник несе обмежену
                                                                                відповідальність за втрату або пошкодження багажу у
                                                                                розмірі, що встановлена: Варшавською Конвенцією-1929
                                                                                в сумі до 20 доларів США за кілограм втраченої
                                                                                (пошкодженої) маси зареєстрованого багажу та 400
                                                                                доларів США на кожного пасажира за незареєстрований
                                                                                багаж; Монреальською Конвенцією-1999 в сумі до 1000
                                                                                СПЗ (спеціальних прав запозичення). 6.
                                                                                Відповідальність перевізника за смерть або
                                                                                пошкодження здоров’я пасажира обмежена: Варшавською
                                                                                Конвенцією- 1929 в сумі до 20000 доларів США;
                                                                                Монреальською Конвенцією-1999 в сумі до 1000 СПЗ
                                                                                (спеціальних прав запозичення). 7. Зареєстрований
                                                                                багаж видається пред’явнику відривного талона
                                                                                багажної бирки. У випадку несправного перевезення
                                                                                багажу, на вимогу пасажира складається відповідний
                                                                                акт, на підставі якого перевізнику пред’являється
                                                                                претензія в письмовій формі. Претензія подається
                                                                                після виявлення пошкодження але не пізніше 7 днів,
                                                                                рахуючи з дня одержання багажу. У випадку
                                                                                прострочення в доставці багажу претензія повинна
                                                                                бути пред`явлена не пізніше 21 дня, рахуючи з дня
                                                                                одержання багажу. 8. Пасажир повинен виконувати
                                                                                вимоги державних органів щодо перевезення,
                                                                                пред’являти виїзні, в’їзні та інші необхідні
                                                                                документи і прибути в аеропорт на реєстрацію у
                                                                                строк, зазначений в квитку, а якщо цей строк не
                                                                                вказано то, у строк, необхідний для виконання перед
                                                                                польотних процедур. 9. Перевізник може відмовити у
                                                                                перевезенні пасажирів, що не відповідають вимогам
                                                                                паспортного режиму, візових, карантинних, митних
                                                                                вимог до країн призначення і транзиту - пасажирів,
                                                                                -повітряне перевезення яких створює загрозу або
                                                                                ризик для них самих, інших пасажирів або майна; -
                                                                                які виявляють явні ознаки хвороби і тих, що
                                                                                викликають хвилювання серед інших пасажирів своїм
                                                                                зовнішнім виглядом, поведінкою або необхідністю
                                                                                здійснення спеціального догляду за ними; - яким
                                                                                протягом польоту необхідний індивідуальний догляд,
                                                                                якщо вони не мають відповідних супроводжуючих осіб;
                                                                                - які по зовнішньому вигляду знаходяться у стані
                                                                                алкогольного сп’яніння або під впливом наркотичних
                                                                                речовин; - які ухиляються від виконання інструкцій
                                                                                перевізника щодо безпеки польотів; - які допустили
                                                                                інші порушення передбачені законодавством, Правилами
                                                                                IATA та перевізника. 10. Перевізник може відмовити у
                                                                                перевезенні багажу: - речей, які можуть заподіяти
                                                                                шкоду повітряному судну, особам або їх майну, які
                                                                                знаходяться на борту повітряного судна; - речей,
                                                                                перевезення яких заборонено законами, правилами і
                                                                                приписами державних органів будь-якої країни на
                                                                                територію, з території або через територію яких
                                                                                здійснюється перевезення; - речей, які по вазі,
                                                                                розмірах, природі можуть спричинити дискомфорт іншим
                                                                                пасажирам і можуть становити загрозу для безпеки
                                                                                польоту; - тварин, за винятком собак, котів та інших
                                                                                кімнатних приручених тварин і птахів, які
                                                                                приймаються для перевезення за попереднім дозволом
                                                                                перевізника та при виконанні певних умов пасажирами
                                                                                у відповідності з правилами такого перевезення.
                                                                                Детальнішу інформацію щодо обмежень у перевезеннях
                                                                                пасажирів і багажу можна одержати у договірного
                                                                                перевізника. ЗАБОРОНИ та ПОПЕРЕДЖЕННЯ: категорично
                                                                                забороняється паління на борту літака; розпивання
                                                                                спиртних напоїв, пронесених з собою на борт літака;
                                                                                перевезення при собі зброї, колото-ріжучих предметів
                                                                                (ножів, ножиць та ін.). Забороняється перевозити, як
                                                                                в багажі, так і в салоні літака наступні предмети та
                                                                                речовини: стиснуті гази, їдкі речовини, вибухові
                                                                                речовини, легкозаймисті та тверді речовини,
                                                                                радіоактивні речовини, окислювачі, отрути,
                                                                                інфекційні матеріали тощо, а також портфелі та кейси
                                                                                з вмонтованим сигнальним пристроями. ІНФОРМУВАННЯ:
                                                                                Доведення до відома пасажирів необхідної, доступної,
                                                                                достовірної та своєчасної інформації і гарантійних
                                                                                зобов&#39;язань перевізника (продавця послуг,
                                                                                виконавця) про Правила повітряних перевезень,
                                                                                нормативні акти і продукцію, що забезпечує
                                                                                можливість її свідомого і компетентного вибору,
                                                                                повністю покладається на договірного перевізника
                                                                                (туроператора - фрахтувальника). Інформація
                                                                                надається пасажиру до придбання ним послуги з
                                                                                перевезення.
                                                                            </p>
                                                                        </td>
                                                                        <td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:11px;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:0;padding-left:15px;text-align:left;vertical-align:top;width:50%;word-wrap:break-word">
                                                                            <p style="Margin:0;Margin-bottom:10px;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:9px;font-weight:400;line-height:1.3;margin:0;margin-bottom:10px;padding:0;text-align:left">
                                                                                ATTENTION: Charter air transportation on
                                                                                international and domestic flights is conducted
                                                                                under a Charter Agreement whereby a tour operator
                                                                                (charterer, or the contractual carrier) charters
                                                                                with an airline (charteree, or the actual carrier)
                                                                                an aircraft for one or more flights to carry
                                                                                passengers and baggage. The following may apply to
                                                                                such transportation: The Warsaw Convention (the
                                                                                convention for the harmonization of certain rules
                                                                                related to international air transportation) signed
                                                                                in Warsaw on 12/10/1929, or the same as amended by
                                                                                Chapter 1 of the Hague Protocol signed in the Hague
                                                                                on 28/09/1955, or the Montreal Convention (the
                                                                                convention for the harmonization of certain rules
                                                                                related to international air transportation) signed
                                                                                in Montreal on 28/05/1999. The applicability and the
                                                                                scope of each of the above legal documents are
                                                                                determined by the carrier on the basis of the
                                                                                circumstances and transportation routes. NOTICE:
                                                                                Passenger must arrive to check in for a charter
                                                                                flight two hours before the scheduled time of
                                                                                departure. The check-in finishes not later than 40
                                                                                minutes prior to the time of departure specified in
                                                                                the ticket. Should passenger fail to arrive for the
                                                                                check-in in due time, he/she may be denied carrying.
                                                                                The documents (passport, visa, ticket, certificate,
                                                                                insurance, etc.) and funds required for traveling
                                                                                are verified at the airport while passenger is being
                                                                                checked in. TERMS AND CONDITIONS OF TRANSPORTATION
                                                                                AGREEMENT: 1. Passengers and baggage are carried
                                                                                under this Agreement in accordance with the Terms
                                                                                and Conditions of the Charter Agreement, Charter
                                                                                Flight Rules – 2001, Rules for Air Transportation of
                                                                                Passengers and Baggage – 2010, Carrier’s
                                                                                Regulations, General Terms and Conditions for
                                                                                Transportation of Passengers and Baggage – IATA and
                                                                                the provisions limiting the carrier’s liability as
                                                                                required by the Warsaw Convention – 1929 or the
                                                                                Montreal Convention – 1999, whichever is applicable.
                                                                                2. The carrier shall use its best efforts in order
                                                                                to carry passenger and his/her baggage within a
                                                                                reasonable period of time. The time indicated in the
                                                                                transportation and other documents is not guaranteed
                                                                                and shall not constitute an integral part hereof.
                                                                                The carrier may, without notice, replace the
                                                                                aircraft, or change or cancel landing at such
                                                                                locations as described in the ticket. The schedule
                                                                                may be adjusted without notice given to passenger.
                                                                                The responsibility for giving notice to passenger of
                                                                                any changes in the schedule (transportation time)
                                                                                shall be conferred upon the flight charterer. 4. The
                                                                                charterer shall be fully responsible for providing
                                                                                information and ensuring that passengers comply with
                                                                                all rules for transportation of passengers and
                                                                                baggage and for crossing by passengers of the
                                                                                borders of the countries of destination and transit
                                                                                set forth by the carrier and authorities. 5. The
                                                                                carrier shall bear limited liability for any loss of
                                                                                or damage to the baggage, to the extent prescribed
                                                                                by the Warsaw Convention-1929 in the amount of up to
                                                                                20 USD per kilogram of the lost (damaged) volume of
                                                                                checked baggage and 400 USD per passenger for
                                                                                unchecked baggage, or by the Montreal
                                                                                Convention-1999 in the amount of up to 1,000 SDR
                                                                                (special drawing rights). 6. The carrier’s liability
                                                                                for death of or any injury to passenger is limited
                                                                                by the Warsaw Convention-1929 to 20,000 USD and by
                                                                                the Montreal Convention-1999 to 1,000 SDR (special
                                                                                drawing rights). 7. Checked baggage may be reclaimed
                                                                                by the bearer of the baggage claim stub. In case of
                                                                                any deficiency in the carriage of baggage, an
                                                                                appropriate report is completed upon passenger&#39;s
                                                                                request, followed by a claim in writing to the
                                                                                carrier. Such claim may be made after any damage has
                                                                                been found, within 7 days of receipt of the baggage.
                                                                                In case of any delayed delivery of baggage, a claim
                                                                                shall be made within 21 days of receipt of the
                                                                                baggage. 8. Passenger shall meet the governmental
                                                                                requirements for carriage, including presenting
                                                                                exit, entry and other relevant documents and
                                                                                arriving at the airport for check-in at such time as
                                                                                specified in the ticket, or, if no such time is
                                                                                provided, at such other time as may be expedient to
                                                                                handle the pre-flight formalities. 9. The carrier
                                                                                may refuse to carry: - passengers failing to meet
                                                                                the passport, visa, quarantine, or customs
                                                                                requirements to countries of destination and
                                                                                transit; - passengers who, when carried by air, pose
                                                                                a threat or risk for themselves or for other
                                                                                passengers or property; - passengers showing
                                                                                apparent signs of a disease or those who boost
                                                                                unrest among other passengers by their appearance,
                                                                                conduct or the necessity to take special care of
                                                                                them; - passengers who need in-flight individual
                                                                                care, unless escorted by relevant persons; -
                                                                                passengers who seem to be intoxicated by alcohol or
                                                                                narcotics; - passengers who evade following the
                                                                                carrier&#39;s flight safety instructions; or -
                                                                                passengers who have committed other violations
                                                                                described by the law, IATA Rules and the carrier’s
                                                                                regulations. 10. The carrier may refuse to carry
                                                                                baggage including: - items which can harm the
                                                                                aircraft or the people or their property on board
                                                                                the aircraft; - items prohibited to be carried by
                                                                                the laws, rules and regulations of the authorities
                                                                                of any country into, from or through the territory
                                                                                of which the flight is operated; - items which by
                                                                                their weight, dimensions or nature may cause
                                                                                discomfort to other passengers and may endanger the
                                                                                flight safety; - animals except for dogs, cats and
                                                                                other pet animals and birds accepted for carriage
                                                                                upon the carrier&#39;s prior approval and provided
                                                                                that passengers shall meet certain requirements
                                                                                pursuant to the rules of such carriage. Further
                                                                                information in respect of the limitations on
                                                                                carriage of passengers and baggage is available from
                                                                                the contractual carrier. PROHIBITIONS AND WARNINGS:
                                                                                It is strictly prohibited to smoke on board a plane
                                                                                or to drink alcoholic beverages taken with oneself
                                                                                aboard the plane or to carry arms or piercing and
                                                                                cutting objects (knives, scissors, etc.) with
                                                                                oneself. It is forbidden to carry, whether in the
                                                                                baggage hold or in the cabin of the plane, the
                                                                                following items and substances: Compressed gases,
                                                                                caustics, explosives, inflammables and solids,
                                                                                radioactive substances, oxidants, poisons,
                                                                                infectious materials, etc., as well as bags and
                                                                                suitcases with built-in signaling devices. PROVISION
                                                                                OF INFORMATION: Providing passengers with relevant,
                                                                                available, accurate and updated information and
                                                                                carrier&#39;s (service provider&#39;s or agent&#39;s)
                                                                                warranty obligations pertaining to the Air
                                                                                Transportation Rules and Regulations and the
                                                                                products, which enables the passengers to make a
                                                                                willful and competent choice, shall be the sole
                                                                                responsibility of the contractual carrier (tour
                                                                                operator, or the charterer). Information shall be
                                                                                provided to passenger before he/she purchases
                                                                                transportation services.
                                                                            </p>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </th>
                                                            <th class="expander"
                                                                style="Margin:0;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:11px;font-weight:400;line-height:1.3;margin:0;padding:0!important;text-align:left;visibility:hidden;width:0"></th>
                                                        </tr>
                                                    </table>
                                                </th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </center>
            </td>
        </tr>
    </table><!-- prevent Gmail on iOS font size manipulation -->
    <div style="display:none;white-space:nowrap;font:15px courier;line-height:0">
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    </div>
</body>
</html>