@using System.Threading.Tasks
@using SimplCommerce.Module.Search.ViewModels

@model SearchResult
@{
    ViewBag.Title = "Search";
}

@section head {
    <link simpl-append-version="true" href="~/lib/nouislider/nouislider.min.css" rel="stylesheet" />
    <link simpl-append-version="true" rel="stylesheet" href="~/lib/smoothproducts/css/smoothproducts.css" />
    <link simpl-append-version="true" rel="stylesheet" href="~/modules/catalog/product-detail.css" />
}

<div class="row form-container">
            <form action="search" method="get" class="form-inline" accept-charset="utf-8">
                <fieldset>
                    <div class="row">
                        <div class="col-sm-12 btn-group" data-toggle="buttons">
                            <label class="btn btn-radio btn-cift">
                                <input class="this-is-checked" name="TripType" id="gidis-donus" value="round-trip" type="radio"> Round-Trip
                            </label>
                            <label class="btn btn-radio btn-tek-yon">
                                <input class="this-is-checked" name="TripType" id="tek-yon" value="one-way" type="radio"> One Way
                            </label>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <div class="col-lg-3 col-md-6 col-xs-12" style="padding: 0;">
                                <label class="sr-only" for="kalkis-yeri">Departure Place</label>
                                <input type="text" class="form-control" style="width: 100%;" id="kalkis-yeri" name="Departure" placeholder="Departure">
                            </div>
                            <div class="col-lg-3 col-md-6 col-xs-12" style="padding: 0">
                                <label class="sr-only" for="inis-yeri">Landing Place</label>
                                <input type="text" class="form-control date" style="width: 100%" id="inis-yeri" name="Landing" placeholder="Landing">
                            </div>
                            <div class="col-lg-2 col-md-6 col-xs-12 date" style="padding: 0;">
                                <label class="sr-only" for="gidis-tarihi">Date of Departure</label>
                                <input type="text" class="form-control" style="width: 100%" id="gidis-tarihi" name="DepartureDate" placeholder="Date of Departure">
                            </div>
                            <div class="col-lg-2 col-md-6 col-xs-12 date" style="padding: 0;">
                                <label class="sr-only" for="donus-tarihi">Date of Return</label>
                                <input type="text" class="form-control" style="width: 100%" id="donus-tarihi" name="ReturnDate" placeholder="Date of Return">
                            </div>
                            <div id="popup-opener" class="col-lg-1 col-md-6 col-xs-12" style="padding: 0;">
                                <label class="sr-only" for="kisi-sayisi">Travelers</label>
                                <input type="text" class="form-control" style="width: 100%" id="kisi-sayisi" name="NumberOfPeople" placeholder="Travelers" readonly="readonly">
                            </div>
                            <div class="col-lg-1 col-md-6 col-xs-12" style="padding: 0">
                                <button type="submit" class="btn btn-submit" style="width: 100%"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
            <div class="row-passengers" style="display: none;">
                <div class="box-with-arrow">
                    <div class="row selectors">
                        <div class="select-list">
                            <select id="flight-class" name="flight-class">
                                <option value="0">Economic</option>
                                <option value="1">Business</option>
                                <option value="2">Comfort</option>
                                <option value="3">First Class</option>
                            </select>
                        </div>
                        <div class="passengers">
                            <div class="row passenger-list valign-wrapper">
                                <div class="col-lg-6 col-xs-12">
                                    <p class="first-line">Adult</p>
                                    <p class="second-line">(18+)</p>
                                </div>
                                <div class="col-lg-6 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-passenger" data-value="decrease" data-target="#adult-passenger" data-toggle="spinner">
                                                <span class="glyphicon glyphicon-minus"></span>
                                            </button>
                                        </span>
                                        <input type="text" data-ride="spinner" id="adult-passenger" class="spinner-input form-control input-number" value="1" readonly="readonly">
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-passenger" data-value="increase" data-target="#adult-passenger" data-toggle="spinner">
                                                <span class="glyphicon glyphicon-plus"></span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row passenger-list valign-wrapper">
                                <div class="col-lg-6 col-xs-12">
                                    <p class="first-line">Child</p>
                                    <p class="second-line">(2-11)</p>
                                </div>
                                <div class="col-lg-6 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-passenger" data-value="decrease" data-target="#child-passenger" data-toggle="spinner">
                                                <span class="glyphicon glyphicon-minus"></span>
                                            </button>
                                        </span>
                                        <input type="text" data-ride="spinner" id="child-passenger" class="spinner-input form-control input-number" value="0" readonly="readonly">
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-passenger" data-value="increase" data-target="#child-passenger" data-toggle="spinner">
                                                <span class="glyphicon glyphicon-plus"></span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row passenger-list valign-wrapper">
                                <div class="col-lg-6 col-xs-12">
                                    <p class="first-line">Baby</p>
                                    <p class="second-line">(0-2)</p>
                                </div>
                                <div class="col-lg-6 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-passenger" data-value="decrease" data-target="#baby-passenger" data-toggle="spinner">
                                                <span class="glyphicon glyphicon-minus"></span>
                                            </button>
                                        </span>
                                        <input type="text" data-ride="spinner" id="baby-passenger" class="spinner-input form-control input-number" value="0" readonly="readonly">
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-passenger" data-value="increase" data-target="#baby-passenger" data-toggle="spinner">
                                                <span class="glyphicon glyphicon-plus"></span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="submit-icon">
                            <a class="btn btn-success" style="width: 100%; border-radius: 0; margin-top: 10px;">Save</a>
                        </div>
                    </div>
                </div>
            </div>
</div>


<div class="row" style="padding-left:15px; padding-right:15px">
    <div class="col-md-3 product-list-filters">
        <h3>Filter by</h3>
        <form id="productFilter" name="productFilter" method="GET" action="~/search">
            @if (Model.FilterOption.Categories.Count > 0)
            {
            <div  class="panel-group" id="accordion-category">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion-category" href="#collapse-category">
                                Category
                                <i class="fa fa-angle-down"></i>
                            </a>
                        </h2>
                    </div>
                    <div id="collapse-category" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <ul class="list-unstyled checkbox-list" style="padding-left:20px">
                                @foreach (var category in Model.FilterOption.Categories)
                                {
                                    <li>
                                        <label class="checkbox">
                                            <input type="checkbox" value="@category.SeoTitle" name="category" checked="@Model.CurrentSearchOption.GetCategories().Contains(category.SeoTitle)">
                                            @category.Name
                                            <small>(@category.Count)</small>
                                        </label>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            }
            <div class="panel-group" id="accordion-brand">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion-brand" href="#collapse-brand">
                                Carriers
                                <i class="fa fa-angle-down"></i>
                            </a>
                        </h2>
                    </div>
                    <div id="collapse-brand" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <ul class="list-unstyled checkbox-list" style="padding-left:20px">
                                @foreach (var brand in Model.FilterOption.Brands)
                                {
                                    <li>
                                        <label class="checkbox">
                                            <input type="checkbox" value="@brand.SeoTitle" name="brand" checked="@Model.CurrentSearchOption.GetBrands().Contains(brand.SeoTitle)">
                                            @brand.Name
                                            <small>(@brand.Count)</small>
                                        </label>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            @if (Model.FilterOption.Price.MaxPrice != Model.FilterOption.Price.MinPrice) {
            <div class="panel-group" id="accordion-price">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion-price" href="#collapse-price">
                                Price
                                <i class="fa fa-angle-down"></i>
                            </a>
                        </h2>
                    </div>
                    <div id="collapse-price" class="panel-collapse collapse in" style="padding:10px">
                        <div class="panel-body">
                            <div id="priceSlider" ></div>
                            <div style="padding:5px">
                                <input type="hidden" id="originMinPrice" value="@Model.FilterOption.Price.MinPrice.ToString("F0")"/>
                                <input type="hidden" id="originMaxPrice" value="@Model.FilterOption.Price.MaxPrice.ToString("F0")" />
                                <span id="minPrice"></span>
                                <span id="maxPrice"></span>
                            </div>
                            <div class="price-actions">
                                <button id="reset-price" type="button" class="btn btn-default">Reset</button>
                                <button id="apply-price" type="button" class="btn btn-default">Apply</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            }
        </form>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-7 category-result">
                <h2>Search results</h2>
                <small class="badge-results">@Model.TotalProduct Results</small>
            </div>
            <div class="col-md-5">
                <ul class="list-inline clear-both product-list-display-options">
                    <li class="show-option">
                        <a href="#"><i class="fa fa-th-list"></i></a>
                        <a href="#"><i class="fa fa-th"></i></a>
                    </li>
                    <li class="sort-by">
                        <label>Sort By :</label>
                        <div class="btn-group">
                            <select asp-for="CurrentSearchOption.Sort" asp-items="Model.AvailableSortOptions" class="form-control"></select>
                        </div>
                    </li>
                    @*<li class="pagination-option">
                        <label>Show :</label>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                20 <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">All</a></li>
                                <li><a href="#">50</a></li>
                                <li><a href="#">30</a></li>
                            </ul>
                        </div>
                    </li>*@
                </ul>
            </div>
        </div>
        <div class="row product-list">
            @foreach (var product in Model.Products)
                {
                    <div class="row">
                        @await Html.PartialAsync("~/Modules/SimplCommerce.Module.Catalog/Views/Shared/_ProductThumbnailRowList.cshtml", product)
                    </div>
                }
        </div>

        <div class="row">
            <div class="col-md-12 text-right">
                <cs-pager cs-paging-pagesize="@Model.CurrentSearchOption.PageSize"
                          cs-paging-pagenumber="@Model.CurrentSearchOption.Page"
                          cs-paging-totalitems="@Model.TotalProduct"
                          cs-pagenumber-param="page"
                          asp-basehref="~/search"
                          asp-all-route-data="@Model.CurrentSearchOption.ToDictionary()"></cs-pager>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script simpl-append-version="true" src="~/lib/wnumb/wNumb.js"></script>
    <script simpl-append-version="true" src="~/lib/nouislider/nouislider.min.js"></script>

    <script>
        var productFilter = {};
        productFilter.currentSearchOption = @Html.Raw(Model.CurrentSearchOption.ToJson());
        productFilter.priceSetting = {
            min: @Model.FilterOption.Price.MinPrice.ToString("F0"),
            max: @Model.FilterOption.Price.MaxPrice.ToString("F0"),
            currentMin: @((Model.CurrentSearchOption.MinPrice ?? Model.FilterOption.Price.MinPrice).ToString("F0")),
            currentMax: @((Model.CurrentSearchOption.MaxPrice ?? Model.FilterOption.Price.MaxPrice).ToString("F0"))
        };

        var getUrlParameter = function getUrlParameter(sParam) {
            var sPageURL = decodeURIComponent(window.location.search.substring(1)),
                sURLVariables = sPageURL.split('&'),
                sParameterName,
                i;

            for (i = 0; i < sURLVariables.length; i++) {
                sParameterName = sURLVariables[i].split('=');

                if (sParameterName[0].toLowerCase() === sParam.toLowerCase()) {
                    return sParameterName[1] === undefined ? true : sParameterName[1];
                }
            }
        };


        $("#kalkis-yeri").val(getUrlParameter('Departure').replace(new RegExp('\\+', 'g'), ' '));
        $("#inis-yeri").val(getUrlParameter('Landing').replace(new RegExp('\\+', 'g'), ' '));

        $("#gidis-tarihi").val(getUrlParameter('DepartureDate').replace(new RegExp('\\+', 'g'), ' '));

        var returnDate = getUrlParameter('ReturnDate');
        if (returnDate) {
            $("#donus-tarihi").val(returnDate.replace(new RegExp('\\+', 'g'), ' '));
        }

        $("#kisi-sayisi").val(getUrlParameter('NumberOfPeople').replace(new RegExp('\\+', 'g'), ' '));

        var tripType = getUrlParameter('TripType');
        if (tripType === "one-way") {
            $('#tek-yon').prop('checked',true).parent().addClass('active');
        } else {
            $('#gidis-donus').prop('checked',true).parent().addClass('active');
        }

        $(".moreDetails").click(function () {
            $current = $(this);
            $details = $current.parents(".thumbnail").find('.product-details').first();
            $iconDown = $current.parent().find(".fa-angle-double-down");
            $iconUp = $current.parent().find(".fa-angle-double-up");

            $details.slideToggle(300, function () {
                if($iconDown.is(':visible')) {
                    $iconDown.hide();
                    $iconUp.show();
                    $('.btn-hide').hide();
                } else {
                    $iconUp.hide();
                    $iconDown.show();
                    $('.btn-hide').show();
                }
            });
        });

    </script>
    <script simpl-append-version="true" src="~/modules/catalog/product-filter.js"></script>
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script simpl-append-version="true" src="~/lib/smoothproducts/js/smoothproducts.js"></script>
    <script simpl-append-version="true" src="~/modules/catalog/product-detail.js"></script>
}