@{
    ViewData["Title"] = "Shopping Cart";
}
<style>

    .product-detail .product-quantity {
        margin-right: 30px;
    }

    .product-detail .quantity-button {
        color: #555;
        width: 55px;
        height: 30px;
        padding: 5px;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 20px;
        background: #eee;
        text-align: center;
        font-weight: normal;
        white-space: nowrap;
        display: inline-block;
        background-image: none;
    }

    .product-detail .quantity-field {
        width: 55px;
        height: 30px;
        outline: none;
        margin: 0 -4px;
        font-size: 20px;
        text-align: center;
        border: 1px solid #eee;
    }

</style>

<div class="cart-list product-detail" ng-app="simpl.shoppingCart" ng-controller="shoppingCartListCtrl as vm" ng-cloak>

    <div class="row">
        <div class="col-md-8">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th colspan="2">@Localizer["Product"]</th>
                        <th class="text-right">@Localizer["Price"]</th>
                        <th class="text-center">@Localizer["Quantity"]</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="vm.cart.items.length" ng-repeat="cartItem in vm.cart.items">
                        <td class="product-image"><img style="max-height:50px; max-width:50px" ng-src="{{cartItem.productImage}}" /></td>
                        <td>
                            <h4>{{cartItem.productName}}</h4>
                            <p>{{cartItem.departureDate | date:'HH:mm':'UTC'}} {{cartItem.departure}}</p>
                            <p>{{cartItem.landingDate | date:'HH:mm':'UTC'}} {{cartItem.landing}}</p>
                            <ul class="list-unstyled">
                                <li ng-repeat="opt in cartItem.variationOptions">
                                    <span>{{opt.optionName}}:</span> {{opt.value}}
                                </li>
                            </ul>
                        </td>
                        <td class="text-right">
                            <p><span class="priceToConvert" data-usd-price="{{cartItem.productPrice}}">{{cartItem.productPrice}}</span> adult</p>
                            <p><span class="priceToConvert" data-usd-price="{{cartItem.childPrice}}" >{{cartItem.childPrice}}</span> child</p>
                        </td>
                        <td class="text-center" style="width:300px">
                            <div class="add-to-cart ">
                                <div class="product-quantity">
                                    <button type="button" style="font-size:smaller" ng-click="vm.decreaseQuantity(cartItem)" class="quantity-button quantity-button-adult" name="subtract" value="-">-</button>
                                    <input type="text" style="font-size:smaller" ng-model="cartItem.quantity"  class="quantity-field quantity-field-adult" readonly="readonly" name="qty" value="1">
                                    <button type="button" class="quantity-button quantity-button-adult" ng-click="vm.increaseQuantity(cartItem)" style="font-size:smaller;text-align:left" name="add" value="+">+ (18+)</button>
                                </div>
                                <div class="product-quantity">
                                    <button type="button" style="font-size:smaller" ng-click="vm.decreaseQuantityChild(cartItem)" class="quantity-button quantity-button-child" name="subtract" value="-">-</button>
                                    <input type="text" style="font-size:smaller" ng-model="cartItem.quantityChild" class="quantity-field quantity-field-child" readonly="readonly" name="qty" value="0">
                                    <button type="button" ng-click="vm.increaseQuantityChild(cartItem)" class="quantity-button quantity-button-child" style="font-size:smaller;text-align:left" name="add" value="+">+ (2-11)</button>
                                </div>
                                <div class="product-quantity">
                                    <button type="button" style="font-size:smaller" ng-click="vm.decreaseQuantityBaby(cartItem)" class="quantity-button quantity-button-baby" name="subtract" value="-">-</button>
                                    <input type="text" style="font-size:smaller" ng-model="cartItem.quantityBaby" class="quantity-field quantity-field-baby" readonly="readonly" name="qty" value="0">
                                    <button type="button" ng-click="vm.increaseQuantityBaby(cartItem)"  class="quantity-button quantity-button-baby" style="font-size:smaller; text-align:left" name="add" value="+">+ (0-2)</button>
                                </div>
                            </div>
                        </td>
                        <td class="text-right"><button class="btn btn-link" ng-click="vm.removeShoppingCartItem(cartItem)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button></td>
                    </tr>
                    <tr ng-if="!vm.cart.items.length">
                        <td colspan="5" class="text-center">
                            @Localizer["There are no items in this cart."] <a href="~/">@Localizer["Go to shopping"]</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <div class="order-summary" ng-if="vm.cart.items.length">
                <h4>@Localizer["Order summary"]</h4>
                <dl class="dl-horizontal">
                    <dt>@Localizer["Subtotal"]</dt>
                    <dd><span class="priceToConvert" data-usd-price="{{vm.cart.subTotal}}">{{vm.cart.subTotal}}</span></dd>
                    <dt>@Localizer["Discount"] {{vm.cart.couponCode}}</dt>
                    <dd><span class="priceToConvert" data-usd-price="{{vm.cart.discount}}">{{vm.cart.discount}}</span></dd>
                    <span ng-show="vm.cart.shippingAmount && vm.cart.shippingAmount > 0">
                        <dt>Agency Fee</dt>
                        <dd><span class="priceToConvert" data-usd-price="{{vm.cart.shippingAmount}}">{{vm.cart.shippingAmount}}</span></dd>
                    </span>
                    <dt>@Localizer["Order Total"]</dt>
                    <dd><strong><span class="priceToConvert" data-usd-price="{{vm.cart.orderTotal}}">{{vm.cart.orderTotal}}</span></strong></dd>
                </dl>
                <p class="text-right"><a href="~/checkout/shipping" class="btn btn-primary">@Localizer["Process to Checkout"]</a></p>
            </div>
            <div class="coupon-form" ng-if="vm.cart.items.length">
                <h4>@Localizer["Coupon code"]</h4>
                <form class="form-inline">
                    <div class="form-group">
                        <label>{{vm.couponErrorMessage}}</label>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="couponCode" ng-model="vm.couponCode" placeholder="Enter coupon">
                        <button type="submit" class="btn btn-default" ng-click="vm.applyCoupon()">Apply</button>
                    </div>
                </form>
            </div>

            <div class="fee-form" ng-if="vm.cart.items.length">
                <h4>Agency Fee</h4>
                <form class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" name="feeAmount" ng-model="vm.feeAmount" placeholder="Enter fee">
                        <button type="submit" class="btn btn-default" ng-click="vm.applyFee()">Apply</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section head{
    <script simpl-append-version="true" src="~/lib/angular/angular.js"></script>
    <script simpl-append-version="true" src="~/modules/shopping-cart/shoppingcart-list.js"></script>
    <script simpl-append-version="true" src="~/modules/shopping-cart/shoppingcart-service.js"></script>
}
