@model SimplCommerce.Module.Catalog.ViewModels.ProductDetail

@{
    ViewBag.Title = Model.Name;
}

<div class="product-detail" style="padding-left:15px;padding-right:15px; padding-top:15px">
    <div class="row">
        <div class="col-md-12">
           
            @if (Model.HasVariation)
            {
                <form>
                    <div class="product-attrs">
                        @foreach (var option in Model.AvailableOptions)
                        {
                            <div>
                                <h5>@option.OptionName </h5>
                                <ul class="list-inline product-attr-options" style="font:smaller">
                                    @foreach (var value in option.Values)
                                    {
                                        var shouldChecked = Model.Variations.First().Options.Any(x => x.Value == value);
                                        <li>
                                            <input type="radio" value="@value" checked="@shouldChecked" name="@option.OptionName" />
                                            @if (Model.OptionDisplayValues.ContainsKey(value) && !String.IsNullOrWhiteSpace(Model.OptionDisplayValues[value].Value))
                                            {
                                                if (Model.OptionDisplayValues[value].DisplayType == "color")
                                                {
                                                    <label title="@value" class="color" style="background-color:@Model.OptionDisplayValues[value].Value"></label>
                                                }
                                                else
                                                {
                                                    <label style="font-size:unset; height:28px" >@Model.OptionDisplayValues[value].Value</label>
                                                }
                                            }
                                            else
                                            {
                                                <label>@value</label>
                                            }
                                        </li>
                                    }
                                </ul>
                            </div>
                        }
                    </div>
                </form>

                foreach (var variant in Model.Variations)
                {
                    var hidden = variant != Model.Variations.First() ? "collapse" : "";
                    <div class="product-variation @hidden" data-variation-name="@variant.NormalizedName">
                        <div class="product-price">
                            @if (variant.IsCallForPricing)
                            {
                                <span class="label label-info">@Localizer["Call for pricing"]</span>
                            }
                            else
                            {
                                <label>@variant.CalculatedProductPrice.Price.ToString("C")</label>
                                if (variant.CalculatedProductPrice.PercentOfSaving > 0)
                                {
                                    <p class="product-price-regular">@variant.CalculatedProductPrice.OldPrice.Value.ToString("C")</p>
                                    <p class="product-price-saving">You save (@(variant.CalculatedProductPrice.PercentOfSaving)%)</p>
                                }
                            }
                        </div>
                        @if (variant.StockQuantity <= 0)
                        {
                            <div class="out-of-stock">
                                <span class="label label-danger">@Localizer["Out of stock"]</span>
                            </div>
                        }
                        <div class="add-to-cart">
                            <form class="inline">
                                <input type="hidden" name="productId" value="@variant.Id" />
                                <div class="product-quantity">
                                    <button type="button" style="font-size:smaller" class="quantity-button" name="subtract" value="-">-</button>
                                    <input type="text" style="font-size:smaller" class="quantity-field" readonly="readonly" name="qty" value="1">
                                    <button type="button" class="quantity-button" style="font-size:smaller" name="add" value="+">+</button>
                                </div>
                                <button type="button" style="font-size:smaller"  disabled="@(!variant.IsAllowToOrder || variant.StockQuantity <= 0)" class="btn btn-lg btn-add-cart">@Localizer["Add to cart"]</button>
                            </form>
                        </div>
                    </div>
                }
                <div class="product-variation-notavailable collapse">
                    <span class="label label-danger">Not available</span>
                </div>
            }
            else
            {
                <div class="product-price">
                    @if (Model.IsCallForPricing)
                    {
                        <span class="label label-info">@Localizer["Call for pricing"]</span>
                    }
                    else
                    {
                        <label>@Model.CalculatedProductPrice.Price.ToString("C")</label>
                        if (Model.CalculatedProductPrice.PercentOfSaving > 0)
                        {
                            <p class="product-price-regular">@Model.CalculatedProductPrice.OldPrice.Value.ToString("C")</p>
                            <p class="product-price-saving">You save (@(Model.CalculatedProductPrice.PercentOfSaving)%)</p>
                        }
                    }
                </div>
                if (Model.StockQuantity <= 0)
                {
                    <div class="out-of-stock">
                        <span class="label label-danger">@Localizer["Out of stock"]</span>
                    </div>
                }
                <div class="add-to-cart">
                    <form class="inline">
                        <input type="hidden" name="productId" value="@Model.Id" />
                        <div class="product-quantity">
                            <button type="button" class="quantity-button" style="font-size:smaller" name="subtract" value="-">-</button>
                            <input type="text"  class="quantity-field" style="font-size:smaller" readonly="readonly" name="qty" value="1">
                            <button type="button" style="font-size:smaller" class="quantity-button" name="add" value="+">+</button>
                        </div>
                        <button type="button" style="font-size:smaller" disabled="@(!Model.IsAllowToOrder || Model.StockQuantity <= 0)" class="btn btn-lg btn-add-cart">@Localizer["Add to cart"]</button>
                    </form>
                </div>
            }
        </div>
    </div>
</div>
