@model SimplCommerce.Module.Orders.Models.Order

@{ 
    var orderItem = Model.OrderItems[0];
    var flight = Model.OrderItems[0].Product;
    var carrierImageUrl = ViewBag.CarrierImageUrl;
    var totalPassengers = orderItem.QuantityBaby + orderItem.QuantityChild + orderItem.Quantity;
}

<div class="panel-group passenger-registraion-panel">
    <div class="row">
        <div class="col-sm-12 text-center"><h4>Order # @Model.Id</h4></div>
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-1"><strong>Carrier</strong></div>
                        <div class="col-sm-2"><strong>Flight</strong></div>
                        <div class="col-sm-2"><strong>Departure</strong></div>
                        <div class="col-sm-2"><strong>Destiation</strong></div>
                        <div class="col-sm-1"><strong>Departure</strong></div>
                        <div class="col-sm-1"><strong>Status</strong></div>
                        <div class="col-sm-3 text-right"><strong>Quantity/Price</strong></div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-1">
                            <figure class="text-center">
                                <img src="@carrierImageUrl">
                                <figcaption style="font-size:smaller">@flight.Brand.Name</figcaption>
                            </figure>
                        </div>
                        <div class="col-sm-2">
                            <span style="font-size:14px" class="label label-default">@flight.FlightNumber @flight.FlightClass </span>
                        </div>
                        <div class="col-sm-2">
                            @flight.Departure
                        </div>
                        <div class="col-sm-2">
                            @flight.Destination
                        </div>
                        <div class="col-sm-1">@flight.DepartureDate.Value.DateTime.ToShortDateString()</div>
                        <div class="col-sm-1">@Model.OrderStatus.ToString()</div>
                        <div class="col-sm-3  text-right">
                            <p><i style="font-size:xx-large" class="fas fa-male"></i>&nbsp;@orderItem.Quantity x <span class="priceToConvert">&nbsp;@orderItem.ProductPrice</span> + <i style="font-size:x-large" class="fas fa-male"></i> @Model.OrderItems[0].QuantityChild x <span class="priceToConvert">@orderItem.ProductPrice</span>  +  <i class="fas fa-male"></i>&nbsp;@orderItem.QuantityBaby x <span class="priceToConvert">@orderItem.ChildPrice</span></p>
                            <p></p>
                            <p><strong>Agency Fee</strong> <span class="priceToConvert">@Model.ShippingAmount</span></p>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-6">Created by <span style="color:cornflowerblue">@Model.ShippingAddress.Email</span> at @Model.CreatedOn.DateTime.ToString() (Portmone # @Model.ExternalNumber)</div>
                        <div class="col-sm-6 text-right">
                            <strong>Order Total <span class="priceToConvert">@Model.OrderTotal</span></strong> 
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-center"><h4> <span class="badge badge-default">@totalPassengers</span> Passenger(s)</h4></div>
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-2 hidden-xs"><strong>First Name</strong></div>
                        <div class="col-sm-2 hidden-xs"><strong>Last Name</strong></div>
                        <div class="col-sm-1 hidden-xs"><strong>Birth Date</strong></div>
                        <div class="col-sm-1 hidden-xs"><strong>Document#</strong></div>
                        <div class="col-sm-1 hidden-xs"><strong>Expiration</strong></div>
                        <div class="col-sm-2 hidden-xs"><strong>Email</strong></div>
                        <div class="col-sm-1 hidden-xs"><strong>Phone</strong></div>
                        <div class="col-sm-1 hidden-xs"><strong>Country</strong></div>
                        <div class="col-sm-1 hidden-xs"><strong>Sex</strong></div>
                    </div>
                </div>
                <div class="panel-body">
                        <div class="address-container">
                            @foreach (var address in Model.RegistrationAddress)
                            {
                                <div class="row passenger-row" >
                                    <div class="col-sm-4 col-md-2 col-xs-12 first-name">
                                        <label class="visible-xs visible-sm hidden-label">First Name:&nbsp;</label>@address.Address.ContactName
                                    </div>
                                    <div class="col-sm-4 col-md-2 col-xs-12 last-name">
                                        <label class="visible-xs visible-sm hidden-label">Last Name:&nbsp;</label>@address.Address.AddressLine1
                                    </div>
                                    <div class="col-sm-4 col-md-1 col-xs-12">
                                        <label class="visible-xs visible-sm hidden-label">Birth Date:&nbsp;</label>@address.Address.AddressLine2
                                    </div>
                                    <div class="col-sm-4 col-md-1 col-xs-12 document-no">
                                        <label class="visible-xs visible-sm hidden-label">Document #:&nbsp;</label>@address.Address.City
                                    </div>
                                    <div class="col-sm-4 col-md-1 col-xs-12">
                                        <label class="visible-xs visible-sm hidden-label">Expiration:&nbsp;</label>@address.Address.PostalCode
                                    </div>
                                    <div class="col-sm-4 col-md-2 col-xs-12">
                                        <label class="visible-xs visible-sm hidden-label">Email:&nbsp;</label>@address.Address.Email
                                    </div>
                                    <div class="col-sm-4 col-md-1 col-xs-12">
                                        <label class="visible-xs visible-sm hidden-label">Phone:&nbsp;</label>@address.Address.Mobile
                                    </div>
                                    <div class="col-sm-4 col-md-1 col-xs-12">
                                        <label class="visible-xs visible-sm hidden-label">Country:&nbsp;</label>@address.Address.Country.Name
                                    </div>
                                    <div class="col-sm-4 col-md-1 col-xs-12">
                                        <label class="visible-xs visible-sm hidden-label">Sex:&nbsp;</label>@address.Address.Phone
                                    </div>
                                </div>
                            }
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>


