@model SimplCommerce.Module.ShoppingCart.ViewModels.CartVm
<table class="table table-striped">
    <tr>
        <th>@Localizer["Product"]</th>
        <th class="text-center">@Localizer["Quantity"]</th>
        <th class="text-right">@Localizer["Price"]</th>
    </tr>
    @foreach (var item in Model.Items)
    {
        <tr>
            <td>
                @item.ProductName
                @if (item.VariationOptions.Any())
                {
                    <ul class="list-unstyled">
                        @foreach (var attr in item.VariationOptions)
                        {
                            <li><span>@attr.OptionName:</span> @attr.Value</li>
                        }
                    </ul>
                }

                <p>@item.DepartureDate.Value.Date.ToShortDateString() @item.DepartureDate.Value.DateTime.ToShortTimeString() @item.Departure</p>
                <p>@item.LandingDate.Value.Date.ToShortDateString() @item.LandingDate.Value.DateTime.ToShortTimeString() @item.Landing</p>
            </td>
            <td class="text-center">
                <p>@item.Quantity (18+)</p> 
                <p>@item.QuantityChild (2-11)</p> 
                <p>@item.QuantityBaby (0-2)</p>
            </td>
            <td class="text-right">
                <p><span class="priceToConvert">@item.ProductPrice</span> adult</p>
                <p><span class="priceToConvert">@item.ProductPrice</span> child</p>
                <p><span class="priceToConvert">@item.ChildPrice</span> infant</p>
            </td>
        </tr>
    }
    <tr>
        <td>@Localizer["Subtotal"]</td>
        <td colspan="2" class="text-right"><span class="priceToConvert">@Model.SubTotal</span><input type="hidden" id="orderSubtotal" value="@Model.SubTotal" /></td>
    </tr>
    <tr>
        <td>Agency Fee</td>
        <td colspan="2" id="orderSummaryShipping" class="text-right"><span class="priceToConvert">@Model.ShippingAmount</span></td>
    </tr>
    @if (!Model.IsTaxIncludedInProductPrice)
    {
    <tr>
        <td>Tax</td>
        <td colspan="2" id="orderSummaryTax" class="text-right">@Model.TaxAmountString</td>
    </tr>
    }
    <tr>
        <td>@Localizer["Discount"]</td>
        <td colspan="2" class="text-right"><span class="priceToConvert">@Model.Discount</span></td>
    </tr>
    <tr>
        <td><strong>@Localizer["Order Total"]</strong>@if (Model.IsTaxIncludedInProductPrice) { @Localizer["VAT included"] }</td>
        <td colspan="2" class="text-right"><strong id="orderTotal"><span class="priceToConvert">@Model.OrderTotal</span></strong></td>
    </tr>
</table>