@model SimplCommerce.Module.Catalog.ViewModels.ProductThumbnail

<style>
    .my-row {
        
    }
</style>

<div class="thumbnail" style="overflow: hidden; margin:10px 20px;">
    <div class="row my-row">
        <div class="airlines col-sm-1" style="margin-left:5px">
            <img alt="@Model.Name" src="@Model.ThumbnailUrl" style="max-width: 60px; min-width: 60px;">                
        </div>
        <div class="col-sm-1">@Model.Carrier</div>
        <div class="flight-number col-sm-1">
            @Model.DepartureDate.Value.LocalDateTime.ToShortDateString()
        </div>
        <div class="flight-number col-sm-1">
            @Model.FlightNumber
        </div>
        <div class="from col-sm-2">
            
            @Model.DepartureDate.Value.LocalDateTime.ToShortTimeString() @Model.Departure 
        </div>
        <div class="to col-sm-2">
            @Model.LandingDate.Value.LocalDateTime.ToShortTimeString() @Model.Landing 
        </div>
        <div class="col-sm-1">
            <button type="submit" id="@Model.Id" style="float:right" class="btn btn-add-cart btn-lg btn-hide">@Model.Price.ToString("C") >></button>
            <input type="hidden" name="productId" id="productId" value="@Model.Id">
        </div>
        <div class="col-sm-1">
            <small>
                <i class="fa fa-angle-double-down" style="float:right"></i>
                <i class="fa fa-angle-double-up" style="float:right;display: none;"></i>
                <a class="moreDetails" style="float:right;cursor: pointer;">@Localizer["More Details"]</a>
            </small>
        </div>
    </div>
    @if (Model.IsRoundTrip.HasValue && Model.IsRoundTrip.Value)
    {
        <div class="row my-row">
            <div class="airlines col-sm-1" style="margin-left:5px">
                <img alt="@Model.Name" src="@Model.ThumbnailUrl" style="max-width: 60px; min-width: 60px;">
            </div>
            <div class="col-sm-1">@Model.ReturnCarrier</div>
            <div class="flight-number col-sm-1">
                @Model.ReturnDepartureDate.Value.LocalDateTime.ToShortDateString()
            </div>
            <div class="flight-number col-sm-1">
                @Model.ReturnFlightNumber
            </div>
            <div class="from col-sm-2">
                @Model.ReturnDepartureDate.Value.LocalDateTime.ToShortTimeString() @Model.Landing 
            </div>
            <div class="to col-sm-2">
                @Model.ReturnLandingDate.Value.LocalDateTime.ToShortTimeString() @Model.Departure 
            </div>
        </div>
    }

    <div class="row product-details" style="display: none; transition: max-height 0.3s">
        <div class="col-md-12 col-sm-12" >
            @await Html.PartialAsync("~/Modules/SimplCommerce.Module.Catalog/Views/Product/ProductDetail.cshtml", Model.Details)
        </div>
        <div class="col-md-12 col-sm-12">
            <div style="border-bottom: 1px solid #ddd; margin: 5px 15px; "></div>
            <div class="col-md-3 col-sm-3">
                <p><small>Carrier: @Model.Carrier</small></p>
                <p><small>Flight #: @Model.FlightNumber</small></p>
            </div>
            <div class="col-md-3 col-sm-3">
                <p><small>Terminal: @Model.Terminal</small></p>
                <p><small>Aircraft: @Model.Aircraft</small></p>
                <p><small>Via: @Model.Via</small></p>
            </div>

           @if (Model.IsRoundTrip.HasValue && Model.IsRoundTrip.Value)
           {
            <div class="col-md-3 col-sm-3">
                <p><small>Carrier: @Model.ReturnCarrier</small></p>
                <p><small>Flight #: @Model.ReturnFlightNumber</small></p>
            </div>
            <div class="col-md-3 col-sm-3">
                <p><small>Terminal: @Model.ReturnTerminal</small></p>
                <p><small>Aircraft: @Model.ReturnAircraft</small></p>
                <p><small>Via: @Model.ReturnVia</small></p>
            </div>
           }
        </div>
    </div>
</div>