@model SimplCommerce.Module.Catalog.ViewModels.ProductThumbnail

<div class="col-md-6 col-sm-6">
    <div class="thumbnail" style="overflow: hidden">
        <a href="~/@Model.SeoTitle">
                <div class="col-md-3 col-xs-3 caption">
                    <img alt="@Model.Name" src="@Model.ThumbnailUrl" style="max-width: 60px; min-width: 60px;">
                </div>

                <div class="col-md-9 col-xs-9">
                        <h4 class="product-name">@Model.Name</h4>
                           <p class="product-price">
                            <input type="checkbox" class="form-check-input"/>

                            @if (Model.IsCallForPricing)
                                {
                                @Localizer["Call for pricing"]
                                }
                            else
                                {
                                @Model.CalculatedProductPrice.Price.ToString("C")
                                if (Model.CalculatedProductPrice.PercentOfSaving > 0)
                                {
                                    <span class="product-price-saving">-@(Model.CalculatedProductPrice.PercentOfSaving)%</span>
                                    <br />
                                    <span class="product-price-regular">@Model.CalculatedProductPrice.OldPrice.Value.ToString("C")</span>
                                }
                                }
                            </p>
                </div>

                <div class="col-md-12 col-xs-12 caption">
                    <p>Departure: @Model.Departure @Model.DepartureDate</p>
                    <p>Landing: @Model.Landing @Model.LandingDate</p>
                </div>
        </a>
    </div>
</div>

<!--TODO: Add binding for Round trip fields -->

@if (Model.IsRoundTrip.Value)
{
<div class="col-md-6 col-sm-6">
    <div class="thumbnail"  style="overflow: hidden">
        <a href="~/@Model.SeoTitle">
                <div class="col-md-3 col-xs-3 caption">
                    <img alt="@Model.Name" src="@Model.ThumbnailUrl" style="max-width: 60px; min-width: 60px;">
                </div>

                <div class="col-md-9 col-xs-9">
                        <h4 class="product-name">@Model.Name</h4>
                           <p class="product-price">
                            <input type="checkbox" class="form-check-input"/>

                            @if (Model.IsCallForPricing)
                                {
                                @Localizer["Call for pricing"]
                                }
                            else
                                {
                                @Model.CalculatedProductPrice.Price.ToString("C")
                                if (Model.CalculatedProductPrice.PercentOfSaving > 0)
                                {
                                    <span class="product-price-saving">-@(Model.CalculatedProductPrice.PercentOfSaving)%</span>
                                    <br />
                                    <span class="product-price-regular">@Model.CalculatedProductPrice.OldPrice.Value.ToString("C")</span>
                                }
                                }
                            </p>
                </div>

                <div class="col-md-12 col-xs-12 caption">
                    <p>Departure: @Model.Departure @Model.DepartureDate</p>
                    <p>Landing: @Model.Landing @Model.LandingDate</p>
                </div>
        </a>
    </div>
</div>
}