@model SimplCommerce.Module.Catalog.ViewModels.ProductThumbnail

@{
    var datesVisible = !Model.Details.AvailableOptions.Any(o => o.OptionName == "Departure Date");
    var duration = Model.LandingDate.Value.Subtract(Model.DepartureDate.Value);
    var durationTime = duration.Hours + "h " + duration.Minutes + "m";

    TimeSpan returnDuration;
    string returnDurationTime  = string.Empty;
    if (Model.IsRoundTrip)
    {
        returnDuration = Model.ReturnLandingDate.Value.Subtract(Model.ReturnDepartureDate.Value);
        returnDurationTime = duration.Hours + "h " + duration.Minutes + "m";
    }

    var selectedFlightId = Model.Details.HasVariation ? Model.Details.Variations.First().Id : Model.Id;
    var selectedPrice = Model.Details.HasVariation ? Model.Details.Variations.First().CalculatedProductPrice.Price : Model.CalculatedProductPrice.Price;
}

<div class="my-thumbnail flight-item">
    <div class="row my-row flight-row">
        <div class="col-sm-1 col-xs-12 airlines">
            <figure>
                <img src="@Model.ThumbnailUrl" >
                <figcaption>@Model.Carrier</figcaption>
            </figure>
        </div>
        <div class="col-sm-1 col-xs-6">
            <span>@Model.DepartureDate.Value.Date.ToShortDateString()</span>
        </div>
        <div class="col-sm-1 col-xs-6 text-right">
            <span class="flight-number">@Model.FlightNumber</span>
        </div>
        <div class="col-sm-3 col-xs-12">
            <span><span class="flight-time">@Model.DepartureDate.Value.DateTime.ToString("HH:mm")</span> @Model.Departure</span>
        </div>
        <div class="col-sm-3 col-xs-12">
            <span><span class="flight-time">@Model.LandingDate.Value.DateTime.ToString("HH:mm")</span> @Model.Landing </span>
        </div>
        <div class="col-sm-1 hidden-xs">
            <span class="text-nowrap"><span class="glyphicon glyphicon-plane gly-rotate-right"></span>  @durationTime</span>
        </div>
        <div class="col-sm-2 col-xs-12">
            <div class="row">
                <!-- panel-footer -->
                <div class="col-xs-6">
                    <div class="previous">
                        @if (!Model.IsRoundTrip)
            {
                            <button class="btn btn-default moreDetails">
                                <span class="fa fa-angle-double-down"></span>
                                <span class="fa fa-angle-double-up" style="display: none;"></span>
                            </button>
                        }
                    </div>
                </div>
                <div class="col-xs-6 text-right">
                    <div class="next">
                        @if (!Model.IsRoundTrip)
                        {
                                <button type="submit" id="@Model.Id" class="btn pull-right btn-add-cart btn-lg btn-hide"><span class="priceToConvert">@Model.Price</span></button>
                                <input type="hidden" name="productId" id="productId" value="@Model.Id">
                        }
                    </div>
                </div>
            </div>
        </div>
</div>
    @if (Model.IsRoundTrip)
    {
        <div class="row my-row flight-row">
            <div class="col-sm-1 col-xs-12 airlines">
                    <figure>
                        <img src="@Model.ThumbnailUrl">
                        <figcaption>@Model.ReturnCarrier</figcaption>
                    </figure>
            </div>
            <div class="col-sm-1 col-xs-6">
                <span>@Model.ReturnLandingDate.Value.DateTime.ToShortDateString()</span>
            </div>    
            <div class="col-sm-1 col-xs-6 text-right">
                <span class="flight-number">@Model.ReturnFlightNumber</span>
            </div> 
            <div class="col-sm-3 col-xs-12">
                <span><span class="flight-time">@Model.ReturnDepartureDate.Value.DateTime.ToString("HH:mm")</span> @Model.Landing</span>
            </div>
            <div class="col-sm-3 col-xs-12">
                <span><span class="flight-time">@Model.ReturnLandingDate.Value.DateTime.ToString("HH:mm")</span> @Model.Departure</span>
            </div>
            <div class="col-sm-1 hidden-xs">
                <span class="text-nowrap"><span class="glyphicon glyphicon-plane gly-rotate-left"></span> @returnDurationTime</span>
            </div>
            <div class="col-sm-2  col-xs-12">
                <div class="row">
                    <!-- panel-footer -->
                    <div class="col-xs-6">
                        <div class="previous">
                                <button class="btn btn-default moreDetails">
                                    <span class="fa fa-angle-double-down"></span>
                                    <span class="fa fa-angle-double-up" style="display: none;"></span>
                                </button>
                        </div>
                    </div>
                    <div class="col-xs-6 text-right">
                        <div class="next">
                                <button type="submit" id="@selectedFlightId"  class="btn pull-right btn-lg btn-add-cart btn-hide"><span class="priceToConvert">@selectedPrice</span></button>
                                <input type="hidden" name="productId" id="productId" value="@selectedFlightId">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="row product-details" style="display: none; transition: max-height 0.3s">
        <div class="col-md-12 col-sm-12" >
            @await Html.PartialAsync("~/Modules/SimplCommerce.Module.Catalog/Views/Product/ProductDetail.cshtml", Model.Details)
        </div>
    </div>
</div>

